<!-- 

  CREATED BY DLYSAN

!-->

<html lang="PT-BR">
  <head>
    <meta charset="utf-8">
    <title>Super Scans</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" sizes="32x32" href="https://www.supermangas.site/img/logo-site.png">
    <script src="/script.js" defer></script>
  </head>
  <body style="width: 100%; height: 100%; background: #1b1b1b url(https://www.supermangas.site/img/preto/bg.png);">
    <div id="all">
      <div id="login-box">
        <div id="login-header">
          Faça login no sistema
        </div>
        <div id="login-inputs">
          <input type="text" placeholder="Nome de usuário" name="usuario">
          <span class="icon-login"></span>
          <br />
          <input type="password" placeholder="Senha" name="senha">
          <span class="icon-password"></span>
        </div>
        <div id="enviar">
          <input type="button" onclick="Login()" class="botao" value="Login">
        </div>
      </div>
    </div>
  </body>
</html>